# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.egg-info/
*.pkl
*.log
*.sqlite3
*.db

# ========================
# Environment & Secrets
# ========================
.env
.env.*
*.env
secrets.yml
config.json
*.key
*.pem

# ========================
# OS & Editor Files
# ========================
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# ========================
# IDEs
# ========================
.vscode/
.idea/
*.iml
*.ipr
*.iws

# ========================
# Virtual Environments
# ========================
**/.venv/
**/env/
**/venv/
**/bin/
**/include/
**/lib/
**/lib64/
**/pyvenv.cfg

# ========================
# Docker / Deployment
# ========================
**/postgres_data/
**/grafana_data/
**/node_modules/
**/prometheus_data/
**/grafana/provisioning/dashboards/*.json.backup
**/grafana/dashboards/*.json.backup

# ========================
# Misc
# ========================
*.tar
*.zip
*.bak
